@font-face {
    font-family: 'Horizon';
    src: url('fonts/Horizon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    text-align: center;
    background-color: #000; /* Black background */
    color: #fff;            /* White default text */
    font-family: 'Horizon', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Horizon', sans-serif;
    color: #fff; /* White font for the header */
}

#bg {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    height: auto;
    border: 2px solid #555;  /* Optional: darker border to match dark theme */
    border-radius: 8px;
}
