<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <h1>Upload Dog File</h1>
    <div class="button-container">
    <form method="POST" enctype="multipart/form-data" class="upload-form">
            <label class="form-label">Upload Dog:</label>
            <input type="file" name="dog_file" class="form-input">
            <input type="submit" value="Upload Dog" class="form-submit">
        </form>
         <a href="{{ url_for('dog') }}" class="btn">← Back</a>
    </div>
</html>