<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Human Media</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <h1>Upload Human File</h1>
    <div class="button-container">
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
         <a href="{{ url_for('human') }}" class="btn">← Back</a>
    </div>
</body>
</html>